@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Nunito", sans-serif;
  color: black;
}
.paginate {
  display: flex;
  align-self: center;
  justify-content: end;
}
.paginate li {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(159, 159, 159);
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Pasif sayfa bağlantıları için stil */
.page-link {
  color: black;
}

/* Aktif sayfa bağlantısı için stil */
.active-page-link {
  background-color: rgba(0, 119, 255, 0.404);
  color: white !important;
}